
set clipboard=unnamedplus
set hlsearch
set ignorecase
set number
set scrolloff=8
set sidescroll=1
set sidescrolloff=15
set showmode
set smartcase
set visualbell

nnoremap <silent> <Space>l :nohlsearch<CR><C-L>
nnoremap Y y$
noremap n nzz
noremap N Nzz
noremap gV `[v`]
inoremap jk <Esc>
noremap H ^
noremap L $
vnoremap L g_
